/* General Settings */


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root{

    /* Colors */
    --dark-cyan:hsl(158, 36%, 37%);
    --cream:hsl(30, 38%, 92%);
    --very-dark-blue:hsl(212, 21%, 14%);
    --dark-grayish-blue:hsl(228, 12%, 48%);
    --white:hsl(0, 0%, 100%);

    /* Fonts */
    --montserrat:"Montserrat", serif;
    --fraunces:"Fraunces", serif;
}
body{
    background-color: var(--cream);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}
.card{
    height: 450px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.image{
    width: 50%;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.content{
    background-color: var(--white);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 2rem;
}
.perfume{
    text-transform: uppercase;
    color:var(--dark-grayish-blue) ;
    font-size: 0.8rem;
    letter-spacing: 5px;
    font-family: var(--montserrat);
    font-weight: 500;
    padding: 0.6rem 0;
}
.head-text{
    font-family: var(--fraunces);
    font-size: 1.95rem;
    padding: 0.2em 0;
    line-height: 2.5rem;
    letter-spacing: 2px;
}
.description{
    color: var(--dark-grayish-blue);
    font-family: var(--montserrat);
    padding: 0.7rem 0;
    font-size: 0.9rem;
}
.price{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1.3rem;
}
.price-1{
    font-size: 2.2rem;
    font-family: var(--fraunces);
    color: var(--dark-cyan);
}
.price-2{
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}
button{
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--dark-cyan);
    color: var(--white);
    font-family: var(--montserrat);
    position: relative;
    cursor: pointer;
    font-size: 0.8rem;
}
.icon{
    position: absolute;
    left: 40px;
    font-size: 0.7rem;
}
button:hover {
    background-color: hsl(158, 37%, 20%);
}
.attribution {
    font-size: 1.2rem;
    text-align: center;
}
.attribution a {
    color: rgb(165, 42, 42);
    text-decoration: none;
}

